<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Zone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <header class="container mx-auto flex items-center justify-between py-2">
      <div class="logo"><a href="/">StudyZone</a></div>
      <nav>
        <ul class="flex items-center">
          <li class="m-2"><a href="/profile">Profile</a></li>
          <% if(user) { %>
          <li class="m-2">
            <form id="logout" action="/logout" method="POST">
              <a onclick="document.getElementById('logout').submit()" href=""
                >Logout</a
              >
            </form>
            <% } else { %>
          </li>

          <li class="m-2"><a href="/register">Register</a></li>
          <li class="m-2"><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
      <!-- <img class="menuIcon hidden" src="/img/icons/menu.png" alt="menu" /> -->
    </header>

    <%- body %>

    <footer></footer>
    <script src="/js/app.js"></script>
  </body>
</html>
